<div class="flex flex-col w-full">
  <div class="btn text-gray-700 border-gray-700 border-2 mb-2 bg-white">
    <i class="fab fa-github-alt fa-lg mr-3"></i> Continue with Github
  </div>
  <div class="btn border text-yellow-800 border-yellow-200 mb-2 bg-yellow-200">
    <i class="fas fa-comment fa-lg mr-3"></i>Continue with Kakao
  </div>
  <div class="flex items-center w-full my-5">
    <div class="h-px w-full bg-gray-400"></div>
    <span class="text-gray-400 font-medium mx-4 text-sm">or</span>
    <div class="h-px w-full bg-gray-400"></div>
  </div>
</div>