html
    title Noom 
    link(rel="stylesheet", href="https://unpkg.com/mvp.css")
body 
    header
        h1 Noom
    main
        div#welcome
            form
                input#nickname(type="text" placeholder="nickname", required)
                input#roomname(type="text",placeholder="roomname")
                button Enter Room
            h3 Open Rooms:
            ul
        div#call
            h2
            ul
            div#myStream
                video#myFace(autoplay,playsinline, width="400", height="400")
                button#mute Mute
                button#camera Turen Camera Off
                select#cameras
            video#peerFace(autoplay,playsinline,widht="400" ,height="400")
    script(src="/socket.io/socket.io.js")
    script(src="/public/js/app.js")